{% extends 'base.html.twig' %}

{% block description %}
    <meta name="description" content="Add message / Qira Test Project">
{% endblock %}
{% block title %}Add message{% endblock %}
{% block canonical_url %}
    <link rel="canonical" href="{{ url('add_message') }}">
{% endblock %}

{% block body %}
    <div class="page-header">
        <h2>Add message</h2>
    </div>
    {{ form(add_message) }}
{% endblock %}